<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Askbootstrap">
    <meta name="author" content="Askbootstrap">
    <title>Osahan Eat - Online Food Ordering Website HTML Template</title>

    <link rel="icon" type="image/png" href="../img/favicon.png">

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../vendor/fontawesome/css/all.min.css" rel="stylesheet">

    <link href="../vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="../vendor/select2/css/select2.min.css" rel="stylesheet">

    <link href="../css/osahan.css" rel="stylesheet">

    <link rel="stylesheet" href="../vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../vendor/owl-carousel/owl.theme.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/detailFood.js"></script>
    <script src="js/navba-all.js"></script>
    <script src="js/cart_form.js"></script>
    <script src="js/listFoodOfCategory.js"></script>
    <script src="../notification.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img alt="logo" src="../img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown dropdown-cart" id="id_cart">
                </li>
                <li class="nav-item" id="id_restaurant">
                </li>
                <li class="nav-item" id="name">
                </li>
                <li class="nav-item" id="login_logout">
                    <a class="nav-link" href="/Module-4-FE/pages/auth/login.html">Đăng nhập<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="restaurant-detailed-banner">
    <div class="text-center">
        <img class="img-fluid cover" src="/img/mall-dedicated-banner.png">
    </div>
    <div class="restaurant-detailed-header">
        <div class="container">
            <div class="row d-flex align-items-end">
                <div class="col-md-8">
                    <div class="restaurant-detailed-header-left">
                        <div id="image-restaurant"></div>
                        <h2 class="text-white" id="restaurant-name"></h2>
                        <p class="text-white mb-1" id="address"></p>
                        <p class="text-white mb-0"><i class="icofont-food-cart"></i> #banhtrang, #thitheo</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="restaurant-detailed-header-right text-right" id="time">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/Module-4-FE/views/history_shopping.html">Mua hàng</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Module-4-FE/views/history_shopping.html">Lịch sử mua hàng</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="offer-dedicated-body-left">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="col-md-12">
                            <div class="generator-bg rounded shadow-sm mb-4 p-4 osahan-cart-item" id="id_cart_total">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="float: right" class="col-md-4">
                <div class="pb-2">
                    <div
                            class="bg-white rounded shadow-sm text-white mb-4 p-4 clearfix restaurant-detailed-earn-pts card-icon-overlap">
                        <img class="img-fluid float-left mr-3" src="../img/earn-score-icon.png">
                        <h6 class="pt-0 text-primary mb-1 font-weight-bold">VSATTP</h6>
                        <p class="mb-0">Nhà hàng chứng nhận đảm bảo vệ sinh an toàn thực phẩm</p>
                        <div class="icon-overlap">
                            <i class="icofont-sale-discount"></i>
                        </div>
                    </div>
                </div>

                <p class="mb-2 text-black"><i class="icofont-phone-circle text-primary mr-2"></i>-->
                    SĐT: +91 01234-56789, +91 01234-56789</p>
                <div id="price">

                </div>
                <p class="mb-2 text-black"><i class="ml-3 icofont-speech-comments"
                                              style="color: #9c3328"></i> 91 reviews,100 buy
                    <span class="badge badge-success"> OPEN NOW </span>
                </p>
                <hr class="clearfix">
                <p class="text-black mb-0"> Ba mẹ cho bạc cho vàng 😳. KHÔNG BẰNG NHẬN ĐƯỢC KH ĐÁNH
                    5⭐️ -😍. Ace LH cho quán để xử lý đơn hàng tại số dt ở dưới 👇</p>
                <hr class="clearfix">
                <div
                        class="owl-carousel owl-theme owl-carousel-five offers-interested-carousel mb-3"
                        id="other-image-food">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="check_restaurant">
                <h5 class="m-0">Bạn có cửa hàng? <a href="/Module-4-FE/pages/restaurant/restaurantCreateForm.html">Gia
                    nhập với chúng tôi cùng cung cấp sản phẩm tốt
                    nhất cho khách hàng</a></h5>
            </div>
        </div>
    </div>
</section>
<section class="footer pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 col-sm-12">
                <h6 class="mb-3">Subscribe to our Newsletter</h6>
                <form class="newsletter-form mb-1">
                    <div class="input-group">
                        <input type="text" placeholder="Please enter your email" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
                <p><a class="text-info" href="register.html">Register now</a> to get updates on <a
                        href="offers.html">Offers and Coupons</a></p>
                <div class="app">
                    <p class="mb-2">DOWNLOAD APP</p>
                    <a href="#">
                        <img class="img-fluid" src="../img/google.png">
                    </a>
                    <a href="#">
                        <img class="img-fluid" src="../img/apple.png">
                    </a>
                </div>
            </div>
            <div class="col-md-1 col-sm-6 mobile-none">
            </div>
            <div class="col-md-2 col-4 col-sm-4">
                <h6 class="mb-3">About OE</h6>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-4 col-sm-4">
                <h6 class="mb-3">For Foodies</h6>
                <ul>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Blogger Help</a></li>
                    <li><a href="#">Verified Users</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-4 col-sm-4">
                <h6 class="mb-3">For Restaurants</h6>
                <ul>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Add a Restaurant</a></li>
                    <li><a href="#">Claim your Listing</a></li>
                    <li><a href="#">For Businesses</a></li>
                    <li><a href="#">Owner Guidelines</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="footer-bottom-search pt-5 pb-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-black">POPULAR COUNTRIES</p>
                <div class="search-links">
                    <a href="#">Australia</a> | <a href="#">Brasil</a> | <a href="#">Canada</a> | <a
                        href="#">Chile</a> | <a href="#">Czech Republic</a> | <a href="#">India</a> | <a
                        href="#">Indonesia</a> | <a href="#">Ireland</a> | <a href="#">New Zealand</a> | <a
                        href="#">United Kingdom</a> | <a href="#">Turkey</a> | <a href="#">Philippines</a> | <a
                        href="#">Sri Lanka</a> | <a href="#">Australia</a> | <a href="#">Brasil</a> | <a
                        href="#">Canada</a> | <a href="#">Chile</a> | <a href="#">Czech Republic</a> | <a
                        href="#">India</a> | <a href="#">Indonesia</a> | <a href="#">Ireland</a> | <a href="#">New
                    Zealand</a> | <a href="#">United Kingdom</a> | <a href="#">Turkey</a> | <a
                        href="#">Philippines</a> | <a href="#">Sri Lanka</a><a href="#">Australia</a> | <a
                        href="#">Brasil</a> | <a href="#">Canada</a> | <a href="#">Chile</a> | <a href="#">Czech
                    Republic</a> | <a href="#">India</a> | <a href="#">Indonesia</a> | <a href="#">Ireland</a> |
                    <a href="#">New Zealand</a> | <a href="#">United Kingdom</a> | <a href="#">Turkey</a> | <a
                        href="#">Philippines</a> | <a href="#">Sri Lanka</a> | <a href="#">Australia</a> | <a
                        href="#">Brasil</a> | <a href="#">Canada</a> | <a href="#">Chile</a> | <a href="#">Czech
                    Republic</a> | <a href="#">India</a> | <a href="#">Indonesia</a> | <a href="#">Ireland</a> |
                    <a href="#">New Zealand</a> | <a href="#">United Kingdom</a> | <a href="#">Turkey</a> | <a
                        href="#">Philippines</a> | <a href="#">Sri Lanka</a>
                </div>
                <p class="mt-4 text-black">POPULAR FOOD</p>
                <div class="search-links">
                    <a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
                        href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
                    Indian</a> | <a href="#">Punjabi Food</a> | <a href="#">Fast Food</a> | <a
                        href="#">Chinese</a> | <a href="#">Street Food</a> | <a href="#">Continental</a> | <a
                        href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South Indian</a> | <a
                        href="#">Punjabi Food</a><a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a
                        href="#">Street Food</a> | <a href="#">Continental</a> | <a href="#">Mithai</a> | <a
                        href="#">Cafe</a> | <a href="#">South Indian</a> | <a href="#">Punjabi Food</a> | <a
                        href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
                        href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
                    Indian</a> | <a href="#">Punjabi Food</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="pt-4 pb-4 text-center">
    <div class="container">
        <p class="mt-0 mb-0">© Copyright 2020 Osahan Eat. All Rights Reserved</p>
        <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
            <a class="text-danger" target="_blank"
               href="#">Gurdeep Osahan</a> - <a
                    class="text-primary" target="_blank" href="https://thaotrinh.info/">Ask Bootstrap</a>
        </small>
    </div>
</footer>


<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
</script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="../vendor/select2/js/select2.min.js" type="text/javascript"></script>
<script src="../vendor/owl-carousel/owl.carousel.js" type="text/javascript"></script>
<script src="../js/custom.js" type="text/javascript"></script>

</body>

</html>